BuildingEscape/Content/StarterContent
BuildingEscape/Intermediate/
*.db
BuildingEscape/Saved/
BuildingEscape/Binaries/
BuildingEscape/.vs/
BuildingEscape/Content/AnimStarterPack/
BuildingEscape/Content/FabricCollection/
